body{
    color:rgba(52, 56, 52, 0.723);
    background:rgb(255, 255, 255);
    margin: 0px
}

header{
border-bottom: solid 2px rgba(20, 67, 11, 0.742);
padding:25px;
font-size: 28px;
color: rgba(32, 82, 22, 0.458);
}

.chamada {
    background: rgba(51, 71, 51, 0.677);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
 font-size: 20px;
}

img{
    height: 250px;
}

.categoriavideos{
display:flex;
overflow-x:auto;
gap: 10px;
}

.analises {
    paddig-left: 20px;
    padding-right: 20px;
}