body{
    color:rgba(52, 56, 52, 0.723);
    background:rgb(255, 255, 255);
    margin: 0px;
    margin-bottom: 100px;
}

header{
border-bottom: solid 2px rgba(20, 67, 11, 0.742);
padding:25px;
font-size: 28px;
color: rgba(32, 82, 22, 0.458);
}

.chamada {
    background: rgba(51, 71, 51, 0.677);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
 font-size: 20px;
}


.categoriavideos{
display:flex;
overflow-x:auto;
gap: 10px;
}

.analises {
    paddig-left: 20px;
    padding-right: 20px;
}

.categoriavideos img{
   opacity: 0.5;
   height: 250px;
}

.categoriavideos img:hover {
    opacity: 1.0;
    border: 2px solid rgb(64, 85, 50);
}

.analises h2{
    color: rgba(32, 82, 22, 0.458);
}